
<ion-view cache-view="true" class="bg-white">
 
  
    <ion-nav-bar class="bar bg-white" style="display:block;">
        
        <ion-nav-title class="text-center" align="center">
              <b>Reports</b>
        </ion-nav-title>
        
        <ion-nav-buttons side="left">
        </ion-nav-buttons>
        
        <ion-nav-buttons side="right">
          <button ng-click="resolve_all()" class="button button-small button-clear button-balanced">
           Resolve All
        </button>
       </ion-nav-buttons>
        
    </ion-nav-bar>
 
    <ion-content ng-init="get_reports()" style="margin-top: -10px !important;" class="bg-grey">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="get_reports()"></ion-refresher>
     <br>
    <ion-list>
     
      <div ng-include="'components/report.html'" ng-repeat="report in reports | orderBy:'-date_created'">
      </div>
      
      <div ng-if="!reports || reports.length < 1" class="padding">
        <div class="text-center item item-body item-light">
          <div class="padding">
            <br><br><br>
            <h4>No reports yet</h4>  <br>
          </div> 
           <br>
        </div>
      </div>

    </ion-list>

  
      
  
  
  
  
  
    </ion-content>


    
    <div ng-include src="'components/now_playing.html'"></div>

  
  </ion-view>
  
