<ion-modal-view class="bg-grey">


        <ion-header-bar class="bar bg-grey">
            <button ng-click="search_box.hide()" class="button button-clear button-light button-sm button-small"  style="float:left;font-weight: bold;color: rgb(3, 3, 3) !important;">&nbsp;<i class="ion ion-close-round"></i>&nbsp;</button>          
            <ion-title><small><b>Search</b></small></ion-title>
        </ion-header-bar>

        <ion-content class="text-left" style="margin-top: 0px !important;">
    
            <div class="padding">
                <label class="item item-input item-light" style="height: 38px !important;border-radius: 20px !important;">
                    <input type="text" autofocus ng-keyup="search(query)" ng-model="query" placeholder="Search for Casts / People" style="border:none !important;color:rgb(8, 8, 8) !important;" />
                </label>
            </div>
    
      
    
  
                <div class="search-results" ng-show="query">
                    
                        <div class="text-center padding">
                            <h5 class="dark" style="color: rgb(39, 38, 38) !important;">{{search_results || 0 | number}} results</h5>
                        </div>

                        <div  ng-repeat="caster in user_results" ng-include="'components/subscribe_user.html'">
                        </div>
                        <div  ng-repeat="cast in cast_results" ui-sref="cast({cast_id:cast._id})" ng-include="'components/cast.html'"> 
                        </div>

                        <br><br><br>
                        <div class="text-center" ng-if="!search_results">
                            <br>
                            <ion-spinner icon="crescent"></ion-spinner>         
                        </div>

                        <div class="text-center" ng-if="search_results == 0">
                            <h5 class="dark padding">No result found</h5>
                        </div>
                
                </div>
            


        </ion-content>

</ion-modal-view>