

<div style="height: 50px !important;float: left !important;width: 90vw !important;" class="row" ng-if="!cast.recast">

    <div class="col" ng-if="!cast.reply">
    <button ng-click="reply_cast(cast)" class="button button-sm button-clear button-icon-right"  ng-class="replied(cast) ? 'button-balanced':'button-dark-green'">
       {{cast.replies.length || 0}} <span class="ion-reply"></span>
    </button>
    </div>



    <div class="col">
        <button ng-click="recast(cast)" ng-disabled="recasted(cast)" class="button button-sm button-clear button-icon-right" ng-class="recasted(cast) ? 'button-balanced':'button-dark-green'">
            {{cast.recasts.length || 0}} <span class="ion-refresh"></span>
        </button>
    </div>



    <div class="col">
        <button ng-if="!liked(cast)" ng-click="like_cast(cast)" class="button button-sm button-clear button-icon-right button-dark-green">
            {{cast.likes.length || 0}} <span class="ion-heart"></span>
        </button>
        <button  ng-if="liked(cast)" ng-click="unlike_cast(cast)" class="button button-sm button-clear button-icon-right button-assertive">
            {{cast.likes.length || 0}} <span class="ion-heart red"></span>
        </button>
    </div>



    <div class="col">
        <button ng-click="cast_more(cast)" class="button button-sm button-clear button-icon-right button-dark-green">
            <span class="ion ion-more"></span>
        </button>
    </div>
    

</div>























