
    <div class="pull-right" style="float: right !important;margin-top: -50px !important;">
        <button ng-if="cast.recast.casting" ng-click="pause_cast()" class="button button-clear button-balanced button-icon">
            <span class="icon ion-pause balanced" style="font-size: 22px !important;"></span>
        </button>
        <button ng-if="!cast.recast.casting" ng-disabled="!cast.recast.cast || cast.recast.expired" ng-click="play_cast(cast.recast)" class="button button-clear button-icon" ng-class="play_status(cast.recast)">
            <span class="icon ion-play" style="font-size: 22px !important;"></span>
        </button>
        <h6 ng-if="cast.recast.duration || !cast.recast.expired" class="dark">&nbsp;&nbsp;{{cast.recast.duration || 0 | number:0}}s</h6>
        <h6 ng-if="cast.recast.expired" class="assertive">&nbsp;&nbsp;Expired</h6>
    </div>