<div class="padding text-center" style="width: 100vw !important;">


      <div ng-show="file_added" style="margin-top: -27px !important;">
                 <br>
                <ion-spinner ng-hide="post.file" icon="crescent"class="spinner-balanced" style="font-size: 17px !important;"></ion-spinner> 
                 
                <ion-item ng-show="post.file" style="background-color:#fff;padding: 4px !important;height: auto !important;">
                  <div class="row">
                    <div class="profile-photo" ng-style="{'background-image':'url('+media+user.photo+')'}"></div>
                    <div style="width: 60vw !important;float: left !important;margin-top: 17px !important;" class="padding">
                      <div ng-include src="'components/post_duration.html'"></div>
                    </div>
                    <div class="pull-right padding" style="float: right !important;margin-top:6px !important;">
                      <span ng-show="post.file && !post.casting" ng-click="test_cast(post)" class="icon ion-play balanced" style="font-size: 30px !important;"></span>
                      <span ng-show="post.casting" ng-click="pause_cast()" class="icon ion-pause balanced" style="font-size: 30px !important;"></span>
                      <h4 class="dark black" ng-show="!post.casting && post.duration > 0">{{post.duration || 0 | number:0}}s</h4>
                    </div>
                  </div>
                  <div ng-if="!chat._id && !post.cast.caster.user_name" class="padding">
                    <label ng-show="file_added" class="item item-input">
                      <i class="icon ion-pin placeholder-icon"></i>
                      <input type="text" ng-model="post.title" placeholder="Title of cast (optional)" maxlength="30">
                    </label>      
                  </div>
                </ion-item>

      </div>


      <div ng-hide="file_added" style="margin-top: -30px !important;position: relative !important;">
                <div ng-show="recording">
                    <ion-spinner icon="ripple" class="listening"></ion-spinner>
                    <b class="grey">Listening...</b>
                    <h6 class="dark">{{timer || 0}}s Left</h6>
                    <div ng-click="stop_recording()" style="background-color: rgb(228, 50, 50) !important;color:white !important;width:auto !important;height:40px !important;padding: 10px 16px 10px 16px !important;margin: auto !important;border-radius: 10px !important;">
                      Stop
                    </div>
                </div>

                <div ng-hide="recording">
                  <br><br>
                  <div ng-click="start_recording()" style="background-color: rgb(243, 57, 10) !important;width:74px !important;height:74px !important;padding: 25px !important;margin: auto !important;border-radius: 360px !important;">
                    <span class="icon ion-mic-a light" style="font-size: 26px !important;margin: auto !important;"></span>
                  </div>
                  <h6>Tap to start recording</h6>
                </div>
      </div>


</div>