        
<div ng-click="next_cast()" class="item item-assertive bg-red2 item-avatar text-left" ng-if="up_next.caster">
    <img class="avatar" style="margin-top: 35px !important;" src="{{media+up_next.caster.photo}}" height="30" />
    <h6 class="badge badge-clear pull-right light">{{timediff(up_next.date_created)}}</h6>
    <br><br>
   <h3 class="light"><b>{{up_next.caster.full_name || up_next.caster.first_name +' '+ up_next.caster.last_name}}</b></h3>
    <h4 class="light">
        @{{up_next.caster.user_name}}
    </h4>
    <h4 class="black light" ng-if="up_next.title">{{up_next.title}}</h4>
    <br>

</div>