<ion-item class="item-light text-center padding" style="margin-bottom: 16px !important;">
    <br> 
    <h2 class="text-left dark">Users Acquisition</h2>
    <h6 class="text-left dark">Monthly users gain</h6>
   

    <canvas style="width: 140vw !important;" class="chart chart-bar" chart-data="user_chart.data"
    chart-labels="user_chart.labels" chart-series="user_chart.series" chart-options="user_chart.options">
    </canvas>
    

      <div class="item  item-light text-left padding">
        <h2 style="margin-top: 8px !important;" class="dark">
        Total Users <b class="orange pull-right" style="float: right;">{{users.length || 0}}</b>
        </h2>
      </div>
      <br>
</ion-item>
