
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("fonts/roboto/Roboto-Medium.ttf");
}


@font-face {
  font-family: "Aargh";
  font-weight: 400;
  src: url("fonts/Aaargh/Aaargh.ttf");
}


@font-face {
  font-family: "san-pro";
  font-weight: 400;
  src: url("fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "proxima";
  font-weight: 400;
  src: url("fonts/ProximaNovaThin/ProximaNovaThin.woff");
}




*{
  /* font-family:"FS"; */
  /* font-family:"Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",arial,sans-serif !important; */
  font-family:"san-pro" !important;
  /* font-family:"proxima" !important; */
  line-height: 121%;
   font-weight: bolder !important;
   /* -webkit-tap-highlight-color: rgba(0,0,0,0) !important; */
   border:none;
 }


